{% extends "base.html" %}


{% block content %}


<div class="container" style="padding: 10px; ">
    <div id="chart" style="width:1200px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "{{ chart_url }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )

    </script>

    <p></p>

    {% include 'status_table.html' %}

    <p></p>

    <div id="chart_usage" style="width:1200px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('chart_usage'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "{{ usage_chart }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )

    </script>
</div>


{% endblock %}