{% extends "base.html" %}


{% block content %}

<div class="container" style="padding: 10px; ">

    <form action="{{ url_for('invest') }}" method="post">
        <div class="input-group" style="width: 200px;padding: 10px;">
            <input type="text" placeholder="账单月" class="form-control picker" name='{{name}}'>
            <input type="submit" value="确认">
        </div>
    </form>

    <script type="text/javascript">
            $(".picker").datepicker({
                format: "yyyy-mm",
                todayBtn: "linked",
                language: "zh-CN",
                orientation: "auto",//日期控件显示位置
                startView:"months",//默认显示视图：months、years、centuries，可选
                minViewMode:"months",//最小显示视图
                keyboardNavigation: false,
                autoclose: true,
                todayHighlight: true
            });

    </script>

</div>

<div class="container" style="padding: 10px; ">
    <div id="chart" style="width:1200px; height:600px;"></div>
</div>
<script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "{{ chart_url }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )

</script>


{% endblock %}